<div class="w3-center">
  <h2>My New Books</h2>
</div>
<div class="w3-responsive w3-card-4">
  <div class="m-2"></div>

  <table class="table table-bordered" style="min-height: 325px">
    <thead>
      <tr>
        <td colspan="2">
          <div class="row mx-2">
            <div class="tbl-elem-1 col-sm-1">No</div>
            <div class="tbl-elem-2 col-sm-9">Name</div>
            <div class="tbl-elem-3 col-sm-2">Pages</div>
          </div>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div
            *ngFor="let book of books; let i = index"
            onclick="document.getElementById('manipulateBookPage').style.display='block'"
            (click)="getThisBook(book)"
          >
            <div class="row mx-2">
              <div style="width: 15%; float: none" class="col-sm-1"></div>
              <div style="width: 65%; float: none" class="col-sm-9">
                {{ book.name }}
              </div>
              <div style="width: 20%; float: none" class="col-sm-2">
                {{ book.totalPage }}
              </div>
            </div>
            <div class="row mx-2">
              <div style="width: 5%; float: none" class="col-sm-1">
                {{ i + 1 }}
              </div>
              <div
                style="width: 90%; float: none"
                class="col-sm-11 text-center"
              >
                <div class="w3-light-grey w3-round">
                  <div
                    class="w3-container w3-blue w3-round"
                    [style.width]="percentageOfABook(book) + '%'"
                  >
                    {{ percentageOfABook(book) }}%
                  </div>
                </div>
                <br />
              </div>
            </div>
            <hr />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- book page mapnipulate maodal -->
<div
  id="manipulateBookPage"
  class="w3-modal"
  #list_books
  style="background-color: aliceblue"
>
  <div class="w3-modal-content w3-card-16 w3-animate-zoom">
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('manipulateBookPage').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
      dasasda
    </div>
  </div>
</div>
