div {
    border: 1px;
}

.tbl-elem-1 {
    font-weight: 700;
    float: none;
    width: 15%
}

.tbl-elem-2 {
    font-weight: 700;
    float: none;
    width: 65%
}

.tbl-elem-3 {
    font-weight: 700;
    float: none;
    width: 20%
}