<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Kitaplar</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div>
          <form [formGroup]="retrievePirForm" novalidate>
            <div *ngFor="let pir of pirs; let i = index">
              <input
                class="w3-button"
                type="button"
                [value]="pir.name"
                [formControlName]="pir.name"
                [routerLink]="['/display/chapter/' + pir.pirId]"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
