<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6">
      <h2>Signin Form</h2>
      <div>
        <form [formGroup]="signInForm" novalidate>
          <div class="imgcontainer">
            <img
              src="https://www.w3schools.com/howto/img_avatar2.png"
              alt="Avatar"
              class="avatar"
            />
          </div>
          <div class="alert" id="id_alert_signin" style="display: none">
            <span
              class="closebtn"
              onclick="this.parentElement.style.display='none';"
              >&times;</span
            >
            <!-- error message -->
          </div>
          <div class="container">
            <label for="email"><b>Username</b></label>
            <input
              #email
              type="text"
              placeholder="Enter E-mail"
              name="email"
              id="email"
              formControlName="email"
              ngModel
              email="true"
            />

            <label for="psw"><b>Password</b></label>
            <input
              #password
              type="password"
              placeholder="Enter Password"
              name="psw"
              id="psw"
              formControlName="password"
            />
            <div class="form-group">
              <div #alertParent></div>
              <button
                class="w3-button w3-block w3-green w3-section w3-padding"
                [disabled]="signInForm.pristine || signInForm.invalid"
                type="submit"
                (click)="signin(email.value, password.value)"
              >
                Sign In
              </button>
            </div>
          </div>
          <div
            class="container"
            style="background-color: #f1f1f1; height: 50px"
          >
            <a
              style="float: right; margin-right: 10px"
              routerLink="/display/displaypir"
              >Kitaplar</a
            >
            <span>Kitap oku:</span>
          </div>
          <hr />
          <div
            class="container"
            style="background-color: #f1f1f1; height: 50px"
          >
            <a style="float: right; margin-right: 10px" routerLink="/register"
              >Kaydol</a
            >
            <span>Hesabınız yok mu?</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
