<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-11 w-75">
        <h2>Pırlanta Edit</h2>
      </div>
      <div class="col-sm-1 w-25">
        <span
          *ngIf="allowedToAdminAndPirEditor"
          onclick="document.getElementById('id_add_pir').style.display='block'"
          class="material-symbols-outlined addpir"
        >
          add_circle
        </span>
      </div>
    </div>
    <form [formGroup]="retrievePirForm" novalidate>
      <div *ngFor="let pir of pirs; let i = index" class="form-group row my-1">
        <div class="col align-items-center">
          <span class="col-sm-1 text-start">{{ i + 1 }}-</span>
          <input
            class="col-sm-9 w3-button text-start text-sm-center"
            type="button"
            [value]="pir.name"
            [formControlName]="pir.name"
            [routerLink]="['/group/chapter/' + pir.pirId]"
          />
          <input
            type="button"
            value="seç"
            class="col-sm-2 btn btn-warning text-end text-sm-center"
            (click)="
              selectPirToAssing(pir); id_assign_pir.style.display = 'block'
            "
          />
          <hr />
        </div>
      </div>
    </form>
  </div>
</div>

<!-- ========== Create New Pir(MODAL) ========== -->
<div id="id_add_pir" class="w3-modal" #id_add_pir>
  <div
    class="w3-modal-content w3-card-4 w3-animate-zoom"
    style="max-width: 800px"
  >
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('id_add_pir').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
    </div>
    <div class="text-center">
      <h2>Yeni Pırlanta Ekle</h2>
    </div>
    <form class="w3-container" [formGroup]="addNewPirForm">
      <div class="w3-section">
        <label><b>Pırlanta adı:</b></label>
        <input
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          placeholder="Pırlanta adını giriniz"
          formControlName="pirName"
        />

        <label><b>Arka Kapak:</b></label>
        <textarea
          rows="5"
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          placeholder="Arka kapak içeriğini giriniz"
          formControlName="description"
        >
        </textarea>
        <button
          onclick="document.getElementById('id_add_pir').style.display='none'"
          (click)="createNewPir()"
          class="w3-button w3-block w3-green w3-section w3-padding"
          type="submit"
          [disabled]="addNewPirForm.pristine || addNewPirForm.invalid"
        >
          Kaydet
        </button>
      </div>
    </form>
  </div>
</div>

<!-- ========== Update Pir(MODAL) ========== -->
<div id="id_update_pir" class="w3-modal" #id_update_pir>
  <div
    class="w3-modal-content w3-card-4 w3-animate-zoom"
    style="max-width: 800px"
  >
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('id_update_pir').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
    </div>
    <form class="w3-container" [formGroup]="updatePirForm">
      <div class="w3-section">
        <label><b>Pırlanta adı:</b></label>
        <input
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          formControlName="name"
        />
        <label><b>Açıklama:</b></label>
        <textarea
          rows="5"
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          formControlName="description"
        >
        </textarea>
        <input type="hidden" formControlName="pirId" for="it gets just pirId" />
        <input
          type="hidden"
          formControlName="editorId"
          for="it gets just editorId"
        />
        <button
          onclick="document.getElementById('id_update_pir').style.display='none'"
          (click)="updatePir()"
          class="w3-button w3-block w3-green w3-section w3-padding"
          type="submit"
          [disabled]="updatePirForm.pristine || updatePirForm.invalid"
        >
          Kaydet
        </button>
        <!-- delete button is canceled now -->
        <!-- <button
          *ngIf="allowedToAdminAndPirEditor"
          type="button"
          class="btn btn-danger"
          placement="top"
          [ngbPopover]="popDeleteContent"
          popoverTitle="Sil!"
          style="margin-right: 10px"
        >
          Sil
        </button> -->
      </div>
    </form>
  </div>
</div>

<!-- ========== Assign Pir(MODAL) ========== -->
<div id="id_assign_pir" class="w3-modal" #id_assign_pir>
  <div
    class="w3-modal-content w3-card-4 w3-animate-zoom"
    style="max-width: 800px"
  >
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('id_assign_pir').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
    </div>
    <form class="w3-container" [formGroup]="assignPirToMentorToEdit" novalidate>
      <div class="w3-section">
        <label><b>Pırlanta adı:</b></label>
        <input
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          readonly
          #pirName
          formControlName="pirName"
        />
        <label><b>Açıklama:</b></label>
        <textarea
          rows="5"
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          readonly
          #description
          formControlName="description"
        >
        </textarea>
        <input type="hidden" formControlName="pirId" for="it gets just pirId" />
        <select
          class="form-select"
          name="selectEditor"
          #groupId
          formControlName="groupId"
        >
          <option value="">Grup Seçin</option>
          <option
            value="{{ group.groupId }}"
            *ngFor="let group of mentorsMetoringGroups"
          >
            {{ group.groupName }}
          </option>
        </select>
        <button
          onclick="document.getElementById('id_assign_pir').style.display='none'"
          (click)="assignPirToGroup(assignPirToMentorToEdit.value)"
          class="w3-button w3-block w3-green w3-section w3-padding"
          type="submit"
          [disabled]="
            pirName.value === '' ||
            groupId.value === '' ||
            description.value === ''
          "
        >
          Seç
        </button>
      </div>
    </form>
  </div>
</div>

<!-- ===============Popovers-Delete================= -->
<ng-template #popDeleteContent>
  <div class="text-center">
    <h4>Are you sure to delete {{ updatePirForm.controls["name"].value }}</h4>
    <button
      onclick="document.getElementById('id_update_pir').style.display='none'"
      (click)="deletePir()"
      type="button"
      class="btn btn-danger"
      style="margin-right: 10px"
    >
      Sil
    </button>
    <button type="button" class="btn btn-info">Vazgeç</button>
  </div>
</ng-template>
