<div id="idWordPairs" class="container" #idWordPairs>
  <div class="row">
    <table class="table table-bordered mb-3" style="min-height: 325px">
      <tbody>
        <tr *ngFor="let wordpair of wordPairs">
          <td>
            <button
              [disabled]="wordpair.editorId !== uid"
              class="btn btn-success w-75 mb-1"
              onclick="document.getElementById('editWord').style.display='block'"
              (click)="getWordPairToEdit(wordpair)"
            >
              {{ wordpair.word }}
            </button>
          </td>
          <th class="align-middle text-center">
            {{ wordpair.editorname }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ===============Edit WordPair (MODAL)================= -->
<div id="editWord" class="w3-modal" #editWord>
  <div class="w3-modal-content w3-card-4 w3-animate-zoom">
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('editWord').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
      <form class="w3-container" [formGroup]="editWordPairForm">
        <div class="w3-section">
          <input
            #word
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            formControlName="word"
          />
          <input
            #meaning
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            formControlName="meaning"
          />
        </div>
        <button
          type="button"
          class="btn btn-danger"
          style="margin-bottom: 2%"
          (click)="updateWordPair()"
          onclick="document.getElementById('editWord').style.display='none'"
          [disabled]="word.value === '' || meaning.value === ''"
        >
          Kaydet
        </button>
      </form>
    </div>
  </div>
</div>
