<div id="idWordPairs" class="container" #idWordPairs>
  <div *ngFor="let wordpair of wordPairs" class="row">
    <button
      class="btn btn-success col w-75 mb-1"
      onclick="document.getElementById('editWord').style.display='block'"
      (click)="
        getWordPairToEdit(wordpair); getEditorByEditorId(wordpair.editorId)
      "
    >
      {{ wordpair.word }}
    </button>
    <p class="col w-25">{{ getEditorByEditorId(wordpair.editorId) }}</p>
  </div>
</div>

<!-- ===============Edit WordPair (MODAL)================= -->
<div id="editWord" class="w3-modal" #editWord>
  <div class="w3-modal-content w3-card-4 w3-animate-zoom">
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('editWord').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
      <form class="w3-container" [formGroup]="editWordPairForm">
        <div class="w3-section">
          <input
            #word
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            readonly
            formControlName="word"
          />
          <input
            #mean
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            formControlName="mean"
          />
        </div>
        <button
          type="button"
          class="btn btn-danger"
          style="margin-bottom: 2%"
          (click)="updateWordPair()"
          onclick="document.getElementById('editWord').style.display='none'"
          [disabled]="word.value === '' || mean.value === ''"
        >
          Kaydet
        </button>
      </form>
    </div>
  </div>
</div>
