<h3>Grup İşlemleri</h3>
<!-- new group create -->
<div class="row">
  <div class="col-sm-12">
    <button
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#createGroup"
      class="btn btn-success"
    >
      Yeni Grup Oluştur
    </button>
  </div>
</div>
<!-- list groups -->
<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="retrieveGroupsForm" novalidate>
      <div *ngFor="let group of groups; let i = index">
        <input
          class="w3-button w-100"
          type="hidden"
          [value]="group.groupId"
          [formControlName]="group.groupId"
        />
        <input
          class="w3-button w-100"
          type="button"
          [value]="group.groupName"
          [formControlName]="group.groupName"
          data-bs-toggle="modal"
          data-bs-target="#updateGroup"
          (click)="selectGroupToUpdate(group)"
        />
      </div>
    </form>
  </div>
</div>

<!-- ===============Create Group(MODAL)================= -->
<div
  class="modal fade"
  id="createGroup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Yeni Grup</h3>
        <button
          type="button"
          class="w3-button w3-xlarge w3-transparent w3-display-topright"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createGroupForm">
          <input
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            placeholder="Grup adını giriniz"
            #groupName
            formControlName="groupName"
          />
          <input
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            placeholder="Mentor e-mail giriniz"
            #mentorEmail
            formControlName="mentorEmail"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="createGroup(groupName.value, mentorEmail.value)"
          [disabled]="mentorEmail.value === '' || groupName.value === ''"
        >
          Kaydet
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="createGroupForm.reset()"
        >
          Kapat
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ===============Update Group(MODAL)================= -->
<div
  class="modal fade"
  id="updateGroup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          {{ updateGroupForm.get("groupName")?.value }}
        </h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateGroupForm">
          <input
            class="w3-input w3-border w3-margin-bottom"
            type="hidden"
            #mentorId
            formControlName="mentorId"
          />
          <label for="groupName">Grup Adı:</label>
          <input
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            #groupName
            formControlName="groupName"
          />
          <label for="mentorEmail">Mentor:</label>
          <input
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            #mentorEmail
            formControlName="mentorEmail"
          />
          <label for="uesrs">Katılımcılar:</label>
          <ul class="list-group" *ngFor="let user of usersOfTheGroup">
            <li class="list-group-item">{{ user.uid }}</li>
          </ul>
        </form>
        <!-- participant adding -->
        <hr />
        <label for="adding participant">Katılımcı ekle:</label>
        <div class="row align-items-center">
          <div class="row">
            <div class="col">
              <input
                type="text"
                #useremail
                class="form-control"
                placeholder="Enter Email..."
              />
            </div>
            <div class="col-auto">
              <button
                class="btn btn-success"
                (click)="retrieveSingleUser(useremail.value)"
              >
                Getir
              </button>
            </div>
          </div>
        </div>
        <!-- retrieve the participant-candidate to be added -->
        <div class="row align-items-center mt-1" *ngIf="useremail.value">
          <div class="row">
            <div class="col">
              <p #participantemail_ class="form-control"></p>
              <p hidden="true" #participantid_ class="form-control"></p>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-success"
                (click)="addUserToGroup(participantid_.innerText)"
              >
                Ekle
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          [ngbPopover]="popUpdateGroup"
          popoverTitle="Güncelle!"
        >
          Güncelle
        </button>
        <button
          type="button"
          class="btn btn-danger"
          [ngbPopover]="popDeleteGroup"
          popoverTitle="Sil!"
        >
          Sil
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="updateGroupForm.reset()"
        >
          Kapat
        </button>
      </div>
    </div>
  </div>
</div>
<a routerLink="/group" class="w3-bar-item w3-button w3-hover-black d-flex"
  >go to group</a
>
<!-- ===============Popovers-Group-Update================= -->
<ng-template #popUpdateGroup>
  <div class="text-center">
    <button
      data-bs-dismiss="modal"
      (click)="updateGroup()"
      type="button"
      class="btn btn-danger"
      style="margin-right: 10px"
      data-bs-dismiss="modal"
    >
      Kaydet
    </button>
    <button type="button" class="btn btn-info">Vazgeç</button>
  </div>
</ng-template>

<!-- ===============Popovers-Group-Delete================= -->
<ng-template #popDeleteGroup>
  <div class="text-center">
    <button
      data-bs-dismiss="modal"
      (click)="deleteGroup()"
      type="button"
      class="btn btn-danger"
      style="margin-right: 10px"
      data-bs-dismiss="modal"
    >
      Sil
    </button>
    <button type="button" class="btn btn-info">Vazgeç</button>
  </div>
</ng-template>
