<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 w-75">
        <h2>Bölüm Edit</h2>
      </div>
      <div class="col-sm-2 w-25">
        <div class="btn-group" role="group" aria-label="Basic example">
          <span
            *ngIf="allowedToAdmin"
            onclick="document.getElementById('id_add_chapter').style.display='block'"
            class="material-symbols-outlined"
          >
            add_circle
          </span>
          <span class="material-symbols-outlined" routerLink="/me/piredit">
            arrow_back_ios_new
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div>
          <form [formGroup]="retrieveChapterForm" novalidate>
            <div *ngFor="let chapter of chapters; let i = index">
              <input
                type="hidden"
                formControlName="chapterId"
                name="chapterId"
                for="it gets just chapterId"
              />
              <input
                class="w3-button w-100"
                type="button"
                [value]="chapter.chapterName"
                [formControlName]="chapter.chapterName"
                (click)="
                  selectChapter(chapter);
                  id_update_chapter.style.display = 'block'
                "
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========== Create Chapter(MODAL) ========== -->
<div id="id_add_chapter" class="w3-modal" #id_add_chapter>
  <div class="w3-modal-content w3-card-4 w3-animate-zoom">
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('id_add_chapter').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
    </div>
    <div class="text-center">
      <h2>Yeni Bölüm Ekle</h2>
    </div>
    <form class="w3-container" [formGroup]="createChapterForm">
      <div class="w3-section">
        <label><b>Bölüm adı</b></label>
        <input
          #chapterName
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          placeholder="Bölüm adını giriniz"
          formControlName="chapterName"
        />
        <label><b>Bölüm içeriği</b></label>
        <textarea
          #chapterContent
          rows="5"
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          placeholder="Bölüm içeriği giriniz"
          formControlName="chapterContent"
        >
        </textarea>
        <select
          class="form-select"
          name="selectEditor"
          #selectEditor
          formControlName="selectEditor"
        >
          <option value="">editor seçin</option>
          <option value="{{ user.uid }}" *ngFor="let user of users">
            {{ user.displayName }}
          </option>
        </select>
        <button
          onclick="document.getElementById('id_add_chapter').style.display='none'"
          (click)="
            addChapter(chapterName.value, chapterContent.value);
            createNewChapterForm()
          "
          class="w3-button w3-block w3-green w3-section w3-padding"
          type="submit"
          [disabled]="createChapterForm.pristine || createChapterForm.invalid"
        >
          Kaydet
        </button>
      </div>
    </form>
  </div>
</div>
<!-- ========== Update Chapter(MODAL) ========== -->
<div id="id_update_chapter" class="w3-modal" #id_update_chapter>
  <div class="w3-modal-content w3-card-4 w3-animate-zoom">
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('id_update_chapter').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
    </div>
    <form
      class="w3-container"
      [formGroup]="updateChapterForm"
      (click)="selectTextToManipulate()"
    >
      <div class="w3-section">
        <input
          #chapterId
          type="hidden"
          formControlName="chapterId"
          for="it gets just chapterId"
        />
        <label><b>Bölüm adı</b></label>
        <input
          [readOnly]="!allowedToAdmin"
          #chapterName
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          placeholder="Bölüm adını giriniz"
          formControlName="chapterName"
        />
        <label><b>Bölüm içeriği</b></label>
        <textarea
          [readOnly]="!allowedToAdmin"
          #chapterContent
          rows="15"
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          placeholder="Bölüm içeriği giriniz"
          formControlName="chapterContent"
        >
        </textarea>
        <select
          *ngIf="allowedToAdmin"
          class="form-select"
          formControlName="selectEditor"
          #selectEditor
        >
          <option value="">editor seçin</option>
          <option value="{{ user.uid }}" *ngFor="let user of users_updateform">
            {{ user.displayName }}
          </option>
        </select>
        <button
          *ngIf="allowedToAdmin"
          onclick="document.getElementById('id_update_chapter').style.display='none'"
          (click)="updateChapter()"
          class="w3-button w3-block w3-green w3-section w3-padding"
          type="submit"
          [disabled]="updateChapterForm.pristine || updateChapterForm.invalid"
        >
          Güncelle
        </button>
        <div class="float-end">
          <button
            onclick="document.getElementById('addWordPair').style.display='block'"
            class="w3-button w3-green w3-section w3-padding mx-1"
          >
            Yeni Kelime
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#displayWordPairs"
            class="w3-button w3-green w3-section w3-padding"
          >
            Kelimeler
          </button>
          <button
            *ngIf="allowedToAdmin"
            type="button"
            class="btn btn-danger"
            placement="top"
            [ngbPopover]="popDeleteContent"
            popoverTitle="Sil!"
            style="margin-right: 10px"
          >
            Sil
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- ===============Add WordPair(MODAL)================= -->
<div id="addWordPair" class="w3-modal" #addWordPair>
  <div class="w3-modal-content w3-card-4 w3-animate-zoom">
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('addWordPair').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
      <form class="w3-container" [formGroup]="addWordForm">
        <div class="w3-section">
          <input
            #word
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            readonly
            value="{{ selectedWord }}"
            formControlName="word"
          />
          <input
            #meaning
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            placeholder="Kelime anlamını giriniz."
            formControlName="meaning"
          />
        </div>
        <button
          type="button"
          class="btn btn-danger"
          style="margin-bottom: 2%"
          (click)="saveWordPair(meaning.value)"
          onclick="document.getElementById('addWordPair').style.display='none'"
          [disabled]="word.value === '' || meaning.value === ''"
        >
          Kaydet
        </button>
      </form>
    </div>
  </div>
</div>

<!-- ===============Display All WordPairs(MODAL)================= -->
<div
  class="modal fade"
  id="displayWordPairs"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Tüm Kelimeler</h3>
        <button
          type="button"
          class="w3-button w3-xlarge w3-transparent w3-display-topright"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <wordpairedit [pirId]="selectedPirId"></wordpairedit>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Kapat
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ===============Popovers-Delete================= -->
<ng-template #popDeleteContent>
  <div class="text-center">
    <h4>
      Are you sure to delete
      {{ updateChapterForm.controls["chapterName"].value }}
    </h4>
    <button
      onclick="document.getElementById('id_update_chapter').style.display='none'"
      (click)="deleteChapter()"
      type="button"
      class="btn btn-danger"
      style="margin-right: 10px"
    >
      Sil
    </button>
    <button type="button" class="btn btn-info">Vazgeç</button>
  </div>
</ng-template>
