<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-11 w-75">
        <h2>Bölüm Edit</h2>
      </div>
      <div class="col-sm-1 w-25 d-inline-block">
        <span
          onclick="document.getElementById('id_add_chapter').style.display='block'"
          class="material-symbols-outlined"
        >
          add_circle
        </span>
        <span class="material-symbols-outlined back" routerLink="/me/piredit">
          arrow_back_ios_new
        </span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div>
          <form [formGroup]="retrieveChapterForm" novalidate>
            <div class="container">
              <label for="chapters" class="ml-6">Bölümler:</label>
              <div *ngFor="let chapter of chapters; let i = index">
                <input
                  class="w3-button w-100"
                  type="button"
                  [value]="chapter.chapterName"
                  [formControlName]="chapter.chapterName"
                />
              </div>
            </div>
          </form>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ========== Add Chapter(MODAL) ========== -->
<div id="id_add_chapter" class="w3-modal" #id_add_chapter>
  <div
    class="w3-modal-content w3-card-4 w3-animate-zoom"
    style="max-width: 800px"
  >
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('id_add_chapter').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
    </div>
    <div class="text-center">
      <h2>Yeni Bölüm Ekle</h2>
    </div>
    <form class="w3-container" [formGroup]="addingChapterForm">
      <div class="w3-section">
        <label><b>Bölüm adı</b></label>
        <input
          #chapterName
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          placeholder="Bölüm adını giriniz"
          formControlName="chapterName"
        />
        <label><b>Bölüm içeriği</b></label>
        <textarea
          #chapterContent
          rows="5"
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          placeholder="Bölüm içeriği giriniz"
          formControlName="chapterContent"
        >
        </textarea>

        <button
          onclick="document.getElementById('id_add_chapter').style.display='none'"
          (click)="
            addChapter(chapterName.value, chapterContent.value);
            createNewChapterForm()
          "
          class="w3-button w3-block w3-green w3-section w3-padding"
          type="submit"
          [disabled]="addingChapterForm.pristine || addingChapterForm.invalid"
        >
          Kaydet
        </button>
      </div>
    </form>
  </div>
</div>
