<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Bölümler</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div>
          <form [formGroup]="retrieveChaptersNamesForm" novalidate>
            <div *ngFor="let chapter of chaptersNames; let i = index">
              <input
                class="w3-button"
                type="button"
                [value]="chapter.chapterName"
                [formControlName]="chapter.chapterName"
                [routerLink]="[
                  '/display/chapterContent/',
                  chapter.chapterId,
                  chapter.pirId
                ]"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
