<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Ayarlar</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- sahabeler -->
    </div>
  </div>
</div>

<!-- EDIT FORM (MODAL) -->
<div class="row justify-content-center">
  <div class="col">
    <div>
      <form [formGroup]="editForm" novalidate>
        <div class="alert" id="id_alert_shbedit" style="display: none">
          <span
            class="closebtn"
            onclick="this.parentElement.style.display='none';"
            >&times;</span
          >
          <!-- error message -->
        </div>
        <div class="container">
          <label for="shbName"><b>İsim:</b></label>
          <input
            #name
            type="text"
            placeholder="Isim giriniz"
            name="shbName"
            formControlName="shbName"
            ngModel
          />
          <label for="shbInfo"><b>Sahabe Bilgileri:</b></label>
          <div *ngFor="let info of infos; let i = index">
            <input type="text" [value]="info" [formControlName]="'item-' + i" />
          </div>
          <div class="form-group">
            <div #alertParent></div>
            <button>Kaydet</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
