<div class="row">
  <div class="col-sm-12">
    <div class="w3-center mt-3">
      <div class="container">
        <div class="row">
          <div class="col-sm-11">
            <h2>{{ retrieveGroupForm.get("groupName")?.value }}</h2>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
    <div class="w3-responsive w3-card-4 mb-3">
      <form [formGroup]="retrieveGroupForm" class="m-2">
        <input
          class="w3-input w3-border w3-margin-bottom"
          type="hidden"
          #mentorId
          formControlName="mentorId"
        />
        <label for="groupName">Grup Adı:</label>
        <input
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          #groupName
          readonly
          formControlName="groupName"
        />
        <label for="mentorEmail">Mentor:</label>
        <input
          class="w3-input w3-border w3-margin-bottom"
          type="text"
          #mentorEmail
          readonly
          formControlName="mentorEmail"
        />
        <label for="uesrs">Katılımcılar:</label>
        <ul class="list-group" *ngFor="let user of usersOfTheGroup">
          <li class="list-group-item">{{ user.email }}</li>
        </ul>
      </form>
    </div>
  </div>
</div>
<!-- ==========Etkinlikler================ -->
<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Etkinlikler</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-start">
        <h2>Pırlanta</h2>
      </div>
      <div class="w3-responsive w3-card-4 col-sm-12">
        <form [formGroup]="retrievePirForm" novalidate class="mt-4">
          <div
            *ngFor="let pir of pirs; let i = index"
            class="form-group row my-1"
          >
            <div class="col align-items-center">
              <span class="col-sm-1 text-start">{{ i + 1 }}-</span>
              <input
                class="col-sm-9 w3-button text-sm-center"
                type="button"
                [value]="pir.name"
                [formControlName]="pir.name"
                [routerLink]="['/group/chapter/' + pir.pirId]"
              />
              <input
                *ngIf="allowedToAdminAndMentor"
                class="col-sm-2 btn btn-warning text-center"
                type="button"
                value="Bırak"
                [ngbPopover]="popDeleteContent"
                popoverTitle="Sil!"
              />
              <hr />
              <!-- ===============Popovers-Leave-Pir================= -->
              <ng-template #popDeleteContent>
                <div class="text-center">
                  <h4>{{ pir.name }} etkinliğini kaldırmak üzeresiniz!</h4>
                  <button
                    type="button"
                    class="btn btn-danger"
                    style="margin-right: 10px"
                    (click)="leavePirFromGroup(pir)"
                  >
                    Delete
                  </button>
                  <button type="button" class="btn btn-info">Cancel</button>
                </div>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
