<div
  *ngFor="let cuz of cuzs; let i = index"
  style="position: relative"
  class="container text-center"
>
  <div
    class="col-4 col-lg-2"
    style="float: left"
    (click)="selectCuz(cuz, i + 1)"
    [ngbPopover]="cuz.reader === name ? popLeaveOrCompleteCuz : null"
    popoverTitle="Delete!"
  >
    <div id="{{ i + 1 }}" class="card position-relative">
      <h5
        style="
          position: absolute;
          left: 50%;
          margin-top: 1%;
          transform: translateX(-50%);
        "
      >
        {{ cuz?.reader | slice : 0 : 8
        }}{{ (cuz?.reader)!.length > 8 ? "... " : " " }}
      </h5>
      <img src="assets/imagesKuran/{{ i + 1 }}.jpg " />
    </div>
  </div>
</div>
<!-- =============Leave or Complete cuz popover====================== -->
<ng-template #popLeaveOrCompleteCuz>
  <div class="text-center">
    <h4>Are you sure to delete</h4>
    <button type="button " class="btn btn-danger" style="margin-right: 10px">
      Delete
    </button>
    <button type="button " class="btn btn-info">Cancel</button>
  </div>
</ng-template>
