img {
    cursor: pointer;
    padding: 5px;
}

#name {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    font-weight: 500;
    width: 80%;
    background-color: white;
}

#menu {
    position: absolute;
    top: 0;
    background-color: white;
    display: none;
    z-index: 10;
}

#hatimCount {
    font-size: large;
    font-weight: 400;
    margin-left: 10%
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}