::ng-deep .cuz {
    color: white;
    font-size: xx-large;
    background: #e6913c !important;
    max-width: 50%;
}

.menu {
    position: absolute;
    right: 1px;
    cursor: pointer;
}

img {
    cursor: pointer;
}

#name {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    font-weight: 500;
}