<div
  *ngFor="let cuz of cuzs; let i = index"
  style="position: relative"
  class="container text-center"
>
  <div class="col-4 col-lg-2 my-1" style="float: left">
    <div
      [ngStyle]="{
        'background-color':
          cuz.beingRead === true && cuz.complete === true
            ? 'green'
            : cuz.beingRead === true && cuz.complete === false
            ? 'orange'
            : cuz.beingRead === false && cuz.complete === false
            ? 'white'
            : 'transparent'
      }"
      id="{{ i + 1 }}"
      class="card position-relative"
    >
      <div #menu id="menu">
        <button
          [disabled]="cuz.reader !== ''"
          type="button"
          (click)="getCuz(cuz, i); menu.style.display = 'none'"
          class="btn btn-warning my-1 w-100"
        >
          seç
        </button>
        <button
          [disabled]="cuz.beingRead === false && cuz.reader === ''"
          type="button"
          (click)="completeCuz(cuz, i); menu.style.display = 'none'"
          class="btn btn-warning my-1 w-100"
        >
          bitir
        </button>
        <button
          [disabled]="
            cuz.beingRead === false && cuz.reader === '' && cuz.reader !== name
          "
          type="button"
          (click)="leaveCuz(cuz, i); menu.style.display = 'none'"
          class="btn btn-warning my-1 w-100"
        >
          bırak
        </button>
        <button
          (click)="menu.style.display = 'none'"
          type="button"
          class="btn btn-info my-1 w-100"
        >
          iptal
        </button>
      </div>
      <img
        class="mb-3"
        src="assets/imagesKuran/{{ i + 1 }}.jpg"
        (click)="
          cuz.reader === name || cuz.reader === ''
            ? (menu.style.display = 'block')
            : hatimAlert(cuz.reader)
        "
      />
      <p id="name">
        {{ cuz?.reader | slice : 0 : 8
        }}{{ (cuz?.reader)!.length > 8 ? "... " : " " }}
      </p>
    </div>
  </div>
</div>
