<app-sidebar></app-sidebar>
<div class="w3-main">
  <div class="w3-row w3-padding-16">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top">
      <!-- The Grid -->
      <div class="w3-row-padding">
        <!-- Left Column -->
        <left-column></left-column>
        <!-- Right Column -->
        <div class="w3-twothird my-3">
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <!-- ============================= -->
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
