<h3>Kullanıcı İşlemleri</h3>
<div class="row align-items-center">
  <div class="row">
    <div class="col">
      <input
        type="text"
        #useremail
        class="form-control"
        placeholder="Enter Email..."
      />
    </div>
    <div class="col-auto">
      <button
        class="btn btn-success"
        (click)="retrieveSingleUser(useremail.value)"
      >
        Kullancıyı Getir
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="retrieveSingleUserForm" novalidate>
      <div *ngFor="let role of usersRoles; let i = index">
        <input
          class="w3-button w-100"
          type="text"
          readonly
          [value]="role"
          [formControlName]="role"
        />
      </div>
    </form>
  </div>
</div>
