<div id="idWordPairs" class="container" #idWordPairs>
  <div class="row">
    <table class="table table-bordered mb-3" style="min-height: 325px">
      <tbody>
        <tr>
          <td>
            <div *ngFor="let wordpair of wordPairs">
              <div class="row mx-2">
                <div style="width: 65%; float: none" class="col-sm-10">
                  <button
                    class="btn btn-success w-75 mb-1"
                    onclick="document.getElementById('editWord').style.display='block'"
                    (click)="getWordPairToEdit(wordpair)"
                  >
                    {{ wordpair.word }}
                  </button>
                </div>
                <div style="width: 20%; float: none" class="col-sm-2">
                  <h3>{{ wordpair.editorname }}</h3>
                </div>
                <hr />
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ===============Edit WordPair (MODAL)================= -->
<div id="editWord" class="w3-modal" #editWord>
  <div class="w3-modal-content w3-card-4 w3-animate-zoom">
    <div class="w3-center">
      <br />
      <span
        onclick="document.getElementById('editWord').style.display='none'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright"
        title="Close Modal"
        >×</span
      >
      <form class="w3-container" [formGroup]="editWordPairForm">
        <div class="w3-section">
          <input
            #editorId
            type="hidden"
            formControlName="editorId"
            for="it gets just editorId"
          />
          <input
            #word
            readonly
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            formControlName="word"
          />
          <input
            #meaning
            class="w3-input w3-border w3-margin-bottom"
            type="text"
            formControlName="meaning"
          />
        </div>
        <div
          class="row justify-content-center"
          *ngIf="allowAllWordPairsToMentor || editorId.value === uid"
        >
          <button
            class="btn btn-info col-sm-2 mx-1"
            style="margin-bottom: 2%"
            (click)="updateWordPair()"
            onclick="document.getElementById('editWord').style.display='none'"
            [disabled]="word.value === '' || meaning.value === ''"
          >
            Kaydet
          </button>
          <button
            type="button"
            class="btn btn-danger col-sm-2 mx-1"
            style="margin-bottom: 2%"
            popoverTitle="Sil!"
            [ngbPopover]="popDeleteContent"
          >
            Sil
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ===============Popovers-Delete================= -->
<ng-template #popDeleteContent>
  <div class="text-center">
    <h4>
      {{ selectedWordPairToEdit.word }}
    </h4>
    <button
      onclick="document.getElementById('editWord').style.display='none'"
      (click)="deleteWordpair()"
      type="button"
      class="btn btn-danger"
      style="margin-right: 10px"
    >
      Sil
    </button>
    <button type="button" class="btn btn-info">Vazgeç</button>
  </div>
</ng-template>
