    /* Structure */
    
    table {
        width: 100%;
    }
    
    .mat-mdc-form-field {
        font-size: 14px;
        width: 100%;
    }
    
    mat-form-field {
        width: 90%;
        margin: 2%;
    }
    
    label {
        float: left
    }
    
    table td,
    table th,
    ng-container {
        border-bottom-color: black;
        margin-left: 0px;
    }
    
    table th {
        font-weight: bolder;
    }
    
    table td.button {
        padding: 10px;
        background-color: rgb(28, 210, 119) !important;
    }
    
    @media screen and (max-width: 500px) {
        .mat-column-Read,
        .mat-column-Author,
        .mat-column-start {
            display: none;
        }
    }
    /* .alert {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 9999;
    } */
    /* .dismiss-button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: #212529;
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
    }
    */
    
    .alert {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
    }