<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-11">
        <h2>My Groups</h2>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
<div class="w3-responsive w3-card-4">
  <form [formGroup]="retrieveGroupsForm" novalidate>
    <div *ngFor="let group of groupsInfo">
      <input
        class="w3-button w-100"
        type="hidden"
        [value]="group.groupId"
        [formControlName]="group.groupId"
      />
      <input
        class="w3-button w-100"
        type="button"
        [value]="group.groupName"
        [formControlName]="group.groupName"
        (click)="redirectToGroupWithId(group.groupId)"
        [routerLink]="['/group/groupinfo', group.groupId]"
      />
    </div>
  </form>
</div>
