<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6">
      <h2>Register Form</h2>
      <div>
        <form [formGroup]="registerForm" novalidate>
          <div class="imgcontainer">
            <div #alertParent></div>
            <img
              src="https://www.w3schools.com/howto/img_avatar2.png"
              alt="Avatar"
              class="avatar"
            />
          </div>
          <div class="alert" id="id_alert_signin" style="display: none">
            <span
              class="closebtn"
              onclick="this.parentElement.style.display='none';"
              >&times;</span
            >
            <!-- error message -->
          </div>
          <div class="container">
            <label for="email"><b>E-mail</b></label>
            <input
              #email
              type="text"
              placeholder="Enter E-mail"
              name="email"
              id="email"
              formControlName="email"
              [(ngModel)]="emailpatterncontrol"
              pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
              email="true"
              required
            />
            <label for="psw"><b>Password</b></label>
            <div class="input-group">
              <input
                #password
                [type]="passwordType"
                placeholder="Enter Password"
                name="psw"
                id="psw"
                formControlName="password"
                [(ngModel)]="passwordPatternControl"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
                required
              />
              <div
                class="input-group-append"
                (click)="
                  showHideToggle =
                    showHideToggle == 'visibility'
                      ? (showHideToggle = 'visibility_off')
                      : 'visibility';
                  passwordType =
                    passwordType == 'password' ? 'text' : 'password'
                "
              >
                <span class="material-symbols-outlined">
                  {{ showHideToggle }}
                </span>
              </div>
            </div>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input
              #passwordrepeat
              type="password"
              placeholder="Repeat Password"
              name="psw-repeat"
              id="psw-repeat"
              formControlName="password"
              required
            />
            <button
              class="w3-button w3-block w3-green w3-section w3-padding"
              type="submit"
              (click)="
                register(email.value, password.value, passwordrepeat.value)
              "
              [disabled]="email.ontouchend"
            >
              Register
            </button>
          </div>
          <div
            class="container"
            style="background-color: #f1f1f1; height: 50px"
          >
            <a style="float: right; margin-right: 10px" routerLink="/signin"
              >Signin</a
            >
            <span>Do you have already an account?</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
