<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-6">
            <h2>Register Form</h2>
            <div>
                <form [formGroup]="registerForm" novalidate></form>
                <div class="imgcontainer">
                    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar" />
                </div>
                <div class="alert" id="id_alert_signin" style="display: none">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span
          >
          <!-- error message -->
        </div>
        <div class="container">
          <label for="email"><b>E-mail</b></label>
          <input
            #email
            type="text"
            placeholder="Enter E-mail"
            name="email"
            id="email"
            required
          />

          <label for="psw"><b>Password</b></label>
          <input
            #password
            type="password"
            placeholder="Enter Password"
            name="psw"
            id="psw"
            required
          />

          <button
            type="submit"
            (click)="
              register(email.value, password.value);
              email.value = '';
              password.value = ''
            "
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>