<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Ayarlar</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div>
          <form [formGroup]="settingsForm" novalidate>
            <div class="alert" id="id_alert_signin" style="display: none">
              <span
                class="closebtn"
                onclick="this.parentElement.style.display='none';"
                >&times;</span
              >
              <!-- error message -->
            </div>
            <div class="container">
              <label for="email"><b>Email:</b></label>
              <input
                #email
                type="text"
                placeholder="Enter E-mail"
                name="email"
                id="email"
                formControlName="email"
                ngModel
                email="true"
              />
              <label for="displayName"><b>Kullanıcı adı:</b></label>
              <input
                #displayName
                type="text"
                placeholder="Kullanıcı adı:"
                name="displayName"
                formControlName="displayName"
                ngModel
              />
              <label for="photoURL"><b>Profile Photo:</b></label>
              <input
                #photoURL
                type="text"
                placeholder="Profil Fotosu Linki"
                name="photoURL"
                formControlName="photoURL"
                ngModel
              />
              <label for="newPassword"><b>New Password:</b></label>
              <input
                #newPassword
                type="text"
                placeholder="Enter New Password"
                name="newPassword"
                formControlName="newPassword"
              />
              <div class="form-group">
                <div #alertParent></div>
                <button (click)="updateUser(settingsForm)">Kaydet</button>
              </div>
            </div>
          </form>
          <div *ngIf="allowedToAdmin">
            <adminsettings></adminsettings>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
